html,
body {
  margin: 0;
  padding: 0;
  background-color: #eef0f4;
  font-family: sans-serif;
  color: #432000;
  user-select: none;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin: 30px auto;
}

#input-field {
  font-family: sans-serif;
  padding: 15px;
  color: #432000;
  background-color: #dce1eb;
  border-radius: 10px;
  border: 0;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#add-button {
  color: #fdfdfd;
  background-color: #ac485a;
  font-family: sans-serif;
  padding: 15px;
  border-radius: 10px;
  border: 0;
  text-align: center;
  font-size: 20px;
}

#imgOne {
  width: 300px;
  margin: 0 auto;
}

#shopping-list {
  display: flex;

  max-width: 320px;
  flex-wrap: wrap;
  margin: 30px auto;
  list-style-type: none;
  padding: 0;
  gap: 10px;
}

li {
  background-color: #fffdf8;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  flex-grow: 1;
}

.activeGreen {
  background-color: green;
}

#add-button:hover {
  cursor: pointer;
}

li:hover {
  cursor: pointer;
}
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  direction: rtl;
}

.Icontainer {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  min-height: 100vh;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.date {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.prayer-row {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border: 2px solid #d0d0d0;
  margin-bottom: 5px;
}

.prayer-name {
  font-size: 22px;
  font-weight: 500;
}

.prayer-time {
  font-size: 24px;
  color: #1c6874;
}

#notifyBtn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#loading {
  text-align: center;
  font-size: 18px;
  color: blue;
  margin-top: 20px;
}


.nav-buttons {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.nav-buttons button {
  font-size: 18px;
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
}

